body{
    background-color: lightcyan;
}

p{
    text-align: center;
}


.container{
    padding-top: 15px;
    /*background-color: skyblue;*/
    background-image: url("IMG/bgd3.jpg");
    border: 2px solid black;
    width: 300px;
    margin: 0px auto;
    display: block;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}

.button{
    background-color: lavender;
    width: 50px;
    height: 30px;
    border: 1px groove black;
    border-radius: 10px;
}

.display input{
    border: 1px solid black;
    position: relative;
    left: 2px;
    top: 2px;
    height: 35px;
    color: black;
    text-align: right;
    font-size: 21px;
}

.keys input {
    text-align: center;
}
