/* Todo App Version 910 */

body{
    background-color: rgb(155, 233, 229);
    text-align: center;
}

.myTodoTitle{
    color: green;
    text-decoration: line-through;
}

#task-div-m {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gral-div-task{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    width: 60vw;
    /*text-decoration: line-through; */
}

.fa-github{
    color: Black;
}
